In [11]:
#4. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the 
#species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csvdataset.Provide the codes with outputs and 
#explain everything that you do in this step.

#Iris.csv

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
data=df
data["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [5]:
data.rename(columns={"SepalLengthCm":"slength","SepalWidthCm":"swidth","PetalLengthCm":"plength","PetalWidthCm":"pwidth","Species":"species"},inplace=True)
data.head()

   Id  slength  swidth  plength  pwidth      species
0   1      5.1     3.5      1.4     0.2  Iris-setosa
1   2      4.9     3.0      1.4     0.2  Iris-setosa
2   3      4.7     3.2      1.3     0.2  Iris-setosa
3   4      4.6     3.1      1.5     0.2  Iris-setosa
4   5      5.0     3.6      1.4     0.2  Iris-setosa

In [6]:
sum_data = data["slength"].sum()
mean_data = data["slength"].mean()
median_data = data["slength"].median()
print("sepal sum ", sum_data)
print("sepal mean",mean_data)
print("sepal median",median_data)

sepal sum  876.5
sepal mean 5.843333333333335
sepal median 5.8

In [7]:
data.isnull()
data_satosa=data["species"]=="Iris-setosa"
print("for setosa")
print(data[data_satosa].describe())

for setosa
             Id   slength     swidth    plength    pwidth
count  50.00000  50.00000  50.000000  50.000000  50.00000
mean   25.50000   5.00600   3.418000   1.464000   0.24400
std    14.57738   0.35249   0.381024   0.173511   0.10721
min     1.00000   4.30000   2.300000   1.000000   0.10000
25%    13.25000   4.80000   3.125000   1.400000   0.20000
50%    25.50000   5.00000   3.400000   1.500000   0.20000
75%    37.75000   5.20000   3.675000   1.575000   0.30000
max    50.00000   5.80000   4.400000   1.900000   0.60000

In [8]:
print(data[data_satosa].describe())
data_satosa=data["species"]=="Iris-virginica"

             Id   slength     swidth    plength    pwidth
count  50.00000  50.00000  50.000000  50.000000  50.00000
mean   25.50000   5.00600   3.418000   1.464000   0.24400
std    14.57738   0.35249   0.381024   0.173511   0.10721
min     1.00000   4.30000   2.300000   1.000000   0.10000
25%    13.25000   4.80000   3.125000   1.400000   0.20000
50%    25.50000   5.00000   3.400000   1.500000   0.20000
75%    37.75000   5.20000   3.675000   1.575000   0.30000
max    50.00000   5.80000   4.400000   1.900000   0.60000

In [9]:
print("for virginica")
print(data[data_satosa].describe())

for virginica
              Id   slength     swidth    plength    pwidth
count   50.00000  50.00000  50.000000  50.000000  50.00000
mean   125.50000   6.58800   2.974000   5.552000   2.02600
std     14.57738   0.63588   0.322497   0.551895   0.27465
min    101.00000   4.90000   2.200000   4.500000   1.40000
25%    113.25000   6.22500   2.800000   5.100000   1.80000
50%    125.50000   6.50000   3.000000   5.550000   2.00000
75%    137.75000   6.90000   3.175000   5.875000   2.30000
max    150.00000   7.90000   3.800000   6.900000   2.50000

In [10]:
print("for versicolor")
data_satosa=data["species"]=="Iris-versicolor"
print(data[data_satosa].describe())

for versicolor
              Id    slength     swidth    plength     pwidth
count   50.00000  50.000000  50.000000  50.000000  50.000000
mean    75.50000   5.936000   2.770000   4.260000   1.326000
std     14.57738   0.516171   0.313798   0.469911   0.197753
min     51.00000   4.900000   2.000000   3.000000   1.000000
25%     63.25000   5.600000   2.525000   4.000000   1.200000
50%     75.50000   5.900000   2.800000   4.350000   1.300000
75%     87.75000   6.300000   3.000000   4.600000   1.500000
max    100.00000   7.000000   3.400000   5.100000   1.800000